.wrap {
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 20px;
  padding: 0 20px 20px 20px;
  background-color: #fff;
  box-sizing: border-box;
  flex-direction: column;
}

.global-set, .process-set {
  width: 100%;
}

.title {
  font-size: 18px;
  line-height: 45px;
  border-bottom: 1px solid #244c76;
  margin-bottom: 25px;
  width: 100%;
}

.form-item {
  display: flex;
}

.label {
  color: #71777c;
  font-size: 16px;
  line-height: 30px;
  margin-right: 20px;
  width: 70px;
}

.input {
  height: 40px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
}