.loading {
  width: 64px;
  height: 64px;
  animation: rotation 1s linear infinite;
}

@keyframes rotation{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.loading-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.loading-text {
  font-size: 16px;
  line-height: 40px;
  padding-left: 12px;
  color: #333;
}