.wrap {
  display: flex;
  align-items: center;
}

.num {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background-color: #ccc;
  text-align: center;
  line-height: 35px;
  margin-right: 30px;
  color: #fff;
  box-sizing: border-box;
}

.selected {
  background-color: #244c76;
}

.doing {
  background-color: #ccc;
  border: 3px solid #244c76;
  box-sizing: border-box;
  line-height: 29px;
}

.fail {
  background-color: red;
}

.num-group div {
  margin-bottom: 5px;
  margin-right: 0px;
}

.num-group {
  width: 45px;
  border-radius: 20px;
  border: solid 1px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  padding-top: 5px;
}