.wrap {
  background-color: #fff;
  margin-top: 20px;
  flex: 1;
  height: 1px;
  overflow: auto;
}

.content h2 {
  color: #2f2f2f;
  line-height: 50px;
  font-size: 24px;
  font-weight: 700;
}

.content h3 {
  color: #2f2f2f;
  line-height: 50px;
}

.content {
  height: 100%;
  overflow: auto;
  padding: 20px;
}

.wrap p {
  display: block;
  color: #2f2f2f;
  word-break: break-word!important;
  word-break: break-all;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

.wrap img {
  width: auto;
  display: block;
  margin: auto;
}