.wrap {
  font-family: Roboto, sans-serif;
  margin-left: 5px;
  margin-right: 5px;
}

.wrap h2 {
  font-size: 1.5em;
  font-weight: bold;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: 33px;
}

.wrap p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}