.tabs {
  display: flex;
  flex-direction: row;
  height: 40px;
  line-height: 40px;
  border-bottom: solid 1px #eee;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  background-color: #fff;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.tab {
  margin-right: 20px;
  color: #71777c;
  padding: 0 5px;
}

.selected {
  color: #244c76;
  font-weight: bold;
  border-bottom: solid 2px #244c76;
}