.wrap {
  height: 56px;
  background-color: #244c76;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin-right: 20px;
  cursor: pointer;
}

.logo-wrap h2 {
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 3px;
  text-align: left;
}

.desc {
  color: #eee;
  align-self: flex-end;
  font-size: 13px;
  letter-spacing: 5px;
  margin-left: 10px;
}

.inner-wrap {
  justify-content: space-between;
}

.nav-item {
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
}